<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger">Messenger</a></li>
                        <li><a href="achievements">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!--YEARS -->        
<a href="1stYear"><h2 class="title">All Subjects for 1st Year </h2></a>

<a href="1stYear"><h2 class="title">SEMESTER 1</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">SUBJECTS</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1mH2FHiPMt9f8pYoKYzANgwmnZ3qcb374" alt="" width="180px" height="180px">APPLIED PHYSICS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1ljSDRpJR5FcTb30A7HUp9GuKMHskyryg/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=18avBMhBCGjYneaBui0ts6ZhCA7hZTmxi" alt="" width="180px" height="180px">BASICS MATHEMATICS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1XPjNG6dY3bD7uhfYbsB1YmQTIUCfHoH7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt="" width="180px" height="180px">LOGIC DEVELOPMENT USING PROGRAMING IN C</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1OtSXWwINejKubbmlAbcuqONquek82ppU/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1SnWosXX3XXqq4wtkYQH9h7AOTj35UiCU" alt="" width="180px" height="180px">BASICS OF ELECTRICAL AND ELECTRONIC ENGINEERING</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1VYYYeN33PVt2c86KndzzLclFtnXrlyWP/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1wj7Yi-1kCtswCHPIiJ3CGw9aor8O6k7h" alt="" width="180px" height="180px">WEB PAGE DESIGN</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1BUjAh6TI7GHRPFZITYbfJ3KCbwWJgpIn/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1wLQi9DrJpwg2xyLM6fDW0T4aY66aFY36" alt="" width="180px" height="180px">MULTIMEDIA AND VIDEO CREATION</a>
            </div>
        </div>
    <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/163C8Ff87DwCXv-sxA2LeFsiEVwhJjn-x/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1dd4JamhpSZKhqZyZ63nM4AOv9Qz6l5Cx" alt="" width="203.8" height="292.68">SEMESTER 1</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1ljSDRpJR5FcTb30A7HUp9GuKMHskyryg/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=18avBMhBCGjYneaBui0ts6ZhCA7hZTmxi" alt="" width="180px" height="180px">BASICS MATHEMATICS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1XPjNG6dY3bD7uhfYbsB1YmQTIUCfHoH7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt="" width="180px" height="180px">LOGIC DEVELOPMENT USING PROGRAMING IN C</a>
            </div>
        </div>
</div>

<a href="1stYear"><h2 class="title">SEMESTER 2</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">SUBJECTS</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1Srwsx1Kti5c4I22TzjQG4ce858uS_Fsh/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1jSEl2KuT37vA172yeuybggYEtf-cM69u" alt="" width="180px" height="180px">COMMUNICATION SKILLS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/15FzPNiR9f323YfkY8WEgubXw8APF2FGl/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1UMqCy_k4qEIpfV-LFRcIhOlpQCaz3abQ"alt="" width="180px" height="180px">ENGINEERING MATHEMATICS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1TbyO2ZJd08RJvZXVsrQIIQ2HI-M85eBs/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ntx7de82BpSDZ6Ds2h3I0WOYDLN0m9v3" alt="" width="180px" height="180px">PROGRAMMING IN C++</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1oJMejZzIsYshPpS3VWaQWKzRpLH0oU4G/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1fFdT9eSWGcQtrnqj8oSShGLdP01XN_aN" alt="" width="180px" height="180px">DATA STRUCTURES</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1OxiQbas5_JELrvMdV87PzRAKJgz1MAP7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1J59-qUwz22TgRLrmbG3liV4LVp-OYEsU" alt="" width="180px" height="180px">DIGITAL TECHNIQUES</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1Qu9YrF46cGcedgKc1DlR6me_wNUgtFIE/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1B_zCt_xiaKaBOezlGTa6PKRcvfHIEDAg" alt="" width="180px" height="180px">COMPUTER HARDWARE AND MAINTENANCE</a>
            </div>
        </div>
        <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/144CtYNs5S4vwDhj2XhYCO_C4JMUgBC1w/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ZVjnZpvzO3KYVq3M9PkpugYDburitob2" alt="" width="203.8" height="292.68">SEMESTER 2</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1b_hQm1eQ41VthBO1d41sQFVtEdVf-c36/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ntx7de82BpSDZ6Ds2h3I0WOYDLN0m9v3" alt="" width="180px" height="180px">PROGRAMMING IN C++</a>
            </div> 
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1adb0O-LTWedBD2T0Q9uqJ8uwsoqEwcoK/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1fFdT9eSWGcQtrnqj8oSShGLdP01XN_aN" alt="" width="180px" height="180px">DATA STRUCTURES</a>
            </div>    
        </div>
</div>

<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-LEARN</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" ></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="About"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-LEARN</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>