<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger">Messenger</a></li>
                        <li><a href="achievements">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!--YEARS -->        
<a href="1stYear"><h2 class="title">All Subjects for 1st Year </h2></a>

<a href="1stYear"><h2 class="title">SEMESTER 3</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">SUBJECTS</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1B1BAV2JZVSj0MeHeokRIJ7IGCK9DzdkA/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1a9-yI8twrVhxGu_N0uxC3vYOauDfrDbO"alt="" width="180px" height="180px">MICROPROCESSOR</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1FjzbrGI0MRAxG20rBZgypACNCQ0w_ZAC/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1VPZtVVJvZ4WibYa6lfJzO12QQa4Xc21W"  alt="" width="180px" height="180px">PROGRAMMING IN JAVA</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1Dj1yVPJtNa-Xcr-tukw3I0DsfupybILs/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1Iam5WBQjaVJqlsyzK-GloTd8nHWCMQZ5" alt="" width="180px" height="180px">COMPUTER NETWORKS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1ex_UXwSnG71tTkauHmyYVnfKAjqu5XNe/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1dsStFj_ijp-xniTE7nE6BfT-bwKfZIKM"  alt="" width="180px" height="180px">DATABASE MANAGEMENT SYSTEM</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/12ptO3Yb24zdBascXGRtOSB0CLZJSUH_g/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=104-51lGZdLHH8zxqF9-c7UauiKj9NkVv"  alt="" width="180px" height="180px">FUNCTIONAL PROGRAMMING IN PYTHON</a>
            </div>
        </div>
        <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1-CLqChvdxR6JpzeXIRKn3PydpPyXPtFK/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1AwDpJHM2xF_YwFfTdDQ6Uf_cf3keu2OZ" alt="" width="203.8" height="292.68">SEMESTER 3</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/17clM_n4RaSZfuTB8xB32f5jOG5C-07aN/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1a9-yI8twrVhxGu_N0uxC3vYOauDfrDbO"alt="" width="180px" height="180px">MICROPROCESSOR</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1TBKjYWSIzq6HQayfSdrg2glKUShh-kpm/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1VPZtVVJvZ4WibYa6lfJzO12QQa4Xc21W"  alt="" width="180px" height="180px">PROGRAMMING IN JAVA</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1VEO3WtsyZRuf6eHmxvqmIJtiKvEq3wAn/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1Iam5WBQjaVJqlsyzK-GloTd8nHWCMQZ5" alt="" width="180px" height="180px">COMPUTER NETWORKS</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1-ZNA80SDKOwSn69-3Rz2CXvZpzV67wY7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1dsStFj_ijp-xniTE7nE6BfT-bwKfZIKM"  alt="" width="180px" height="180px">DATABASE MANAGEMENT SYSTEM</a>
            </div>
        </div>
</div>

<a href="1stYear"><h2 class="title">SEMESTER 4</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">SUBJECTS</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1k63oJldZvNONiJGnmXoIwNflom8CAq1f/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ijiLKa1rRx171N1c0Y_6wDkj6rs3PVdT" alt="" width="180px" height="180px">OPERATING SYSTEM</a>
            </div>
            <div class="col-4">
                <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1K9232xcweKu-GRZpdydA9E9xjgZaSuaz" alt="" width="180px" height="180px">SOFTWARE ENGINEERIMG</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1_yU454lEMXmGGa6vDT08QYt-VrJ-q7nx/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1WlpL_pCnbUZKDJRptBRRSrgKGcF-da5n"  alt="" width="180px" height="180px">NEXT GENERATION DATABASE</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1OHm6koOcZaaN-bsaAt9zJ2zfolb_79j6/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1B5MP9HK7CfFunvWFALdEcl-E7KDgbZCD" alt="" width="180px" height="180px">ADVANCED PROGRAMMING IN JAVA</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1hK0cdEhWOYVTtfxaWyrcYGAVMvjGHYtd/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1WINwUxZ7g2dc2_RlKlpz4q7l_koNfhy2"  alt="" width="180px" height="180px">MOBILE APPLICATION DEVELOPMENT</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1S134geBgQUMPP6y89jmzbwQop_UAdzkS/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1PUnNa7gShMLJ5RQMRRfnToCYq9mxGa6k" alt="" width="180px" height="180px">ADVANCED WEB DEVELOPMENT</a>
            </div>
        </div>
        <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1YvMFHrvc23RvLfGBoi8IXMPFdtQ9Bc-a/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14jGcfxrQaOT3rGOl1vfxml8p9JqkFQnm" alt="" width="203.8" height="292.68">SEMESTER 4</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1HV9JkGe_Cl4PT8DC9iBCwEs9aSee5044/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ijiLKa1rRx171N1c0Y_6wDkj6rs3PVdT" alt="" width="180px" height="180px">OPERATING SYSTEM</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/10FF1y_qY4EL7SyAF9WxxHlh4zA3NHZas/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1K9232xcweKu-GRZpdydA9E9xjgZaSuaz" alt="" width="180px" height="180px">SOFTWARE ENGINEERING</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1uobIoKakc3I9staWnh5F5BsaRAPNOv0X/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1WlpL_pCnbUZKDJRptBRRSrgKGcF-da5n"  alt="" width="180px" height="180px">NEXT GENERATION DATABASE</a>
            </div> 
        </div>
</div>

<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-LEARN</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" ></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="About"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-LEARN</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>