<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15  " width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger">Messenger</a></li>
                        <li><a href="achievements">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!--YEARS -->        
<a href="1stYear"><h2 class="title">All Subjects for 1st Year </h2></a>

<a href="1stYear"><h2 class="title">SEMESTER 5</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">THEORY SUBJECTS</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1bmbkwlc8SiuONpUi3E5dMR_Qe0rtEkXm/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1LDz3l9h3tCtXJqTcjXMsEBoAhZMDJSTa" alt="" width="180px" height="180px">SOFTWARE TESTING</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1uFfsOwyNtgqvEhcHo_6T4GRoi9A7iB_h/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1NZJGK61EjVnHsffXdk6n3old1cLtFtL0" alt="" width="180px" height="180px">COMPUTER SECURITY</a>
            </div>
            <div class="col-4">
                <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1pCT6fxRJ0T2COIX9_lNSif_ibV2xJbW0" alt="" width="180px" height="180px">NETWORK MANAGEMENT AND ADMINISTRATION</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1THlEAWDSXM77lPMnn1JQUuq-eURj7eaJ/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1h6ENzwoEHiFZASWmkFVZ7u7LG7bqqyn6" alt="" width="180px" height="180px">DATA ANALYTICS USING R</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1tzYopiGz4avY8wHDJdhp5y1x6allFT81/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1XrKUFUr0sexwSm1esfgDQmiESpGV3mJP" alt="" width="180px" height="180px">ENVIRONMENTAL STUDIES</a>
            </div>
        </div>
        <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1owYcD26f_nL4nVkxva-BGweZ5M6XVSyB/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1vC3bia5DsMQUoXlJ9Pw0b9b8eifY1Gt7" alt="" width="203.8" height="292.68">5TH SEMESTER</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1azQmce3BuaoDW_qVoY50roS2FQrSs_WF/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1LDz3l9h3tCtXJqTcjXMsEBoAhZMDJSTa" alt="" width="180px" height="180px">SOFTWARE TESTING</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1FN9ExwLDKpX8Va_RpANf3o2W0-NVqJlD/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1NZJGK61EjVnHsffXdk6n3old1cLtFtL0" alt="" width="180px" height="180px">COMPUTER SECURITY</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1ZWNLH74DUEBw6UmVX1njbiWCoZVsmnLq/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1pCT6fxRJ0T2COIX9_lNSif_ibV2xJbW0" alt="" width="180px" height="180px">NETWORK MANAGEMENT AND ADMINISTRATION</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1O3JXO0WymV-EjaX2VYAeF3iS0VPTAg82/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1h6ENzwoEHiFZASWmkFVZ7u7LG7bqqyn6" alt="" width="180px" height="180px">DATA ANALYTICS USING R</a>
            </div>
        </div>
</div>

<a href="1stYear"><h2 class="title">SEMESTER 6</h2></a>
<div class="row">
    <a href="1stYear"><h2 class="title">THEORY SUBJECTS</h2></a>
        <div class="row">
            
        </div>
        <a href="1stYear"><h2 class="title">QUESTION PAPER'S</h2></a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1HOKd2aMKx1cYNZuwt7moNe5-QV-r4uGf/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1gHYO4qrVRZbTLo2yZlhgAaYqJryujVJI" alt="" width="203.8" height="292.68">6TH SEMESTER CIRRICULUM</a>
            </div>
        </div>
</div>

<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-LEARN</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" ></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="About"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-LEARN</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>