<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                    <li><a href="Courses">Courses</a></li>
                    <li><a href="messenger">Messenger</a></li>
                    <li><a href="achievements">Achievements</a></li> 
                    <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!-- 123 -->

    <div class="heading">
        <h1>About Us</h1> 
        <p>GPM E-learn website is goining to help a lot of students for making their self study more productive and also help students access the notes whenever they are needed basically this website is going to make the learning more productive and convenient for all the teacher's and students of computer department.</p> 
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.012487226709!2d72.84301797510005!3d19.063188582138785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9194dfe93a5%3A0x4210c68941bc43e4!2sGovernment%20Polytechnic%20Mumbai!5e0!3m2!1sen!2sin!4v1697814734431!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
     </div>
        <div class="about-content">
            <h2>GPM E-learn provide subject related notes that are thought in the Computer Deperatement and provide Notes for students that are provided by the Teachers</h2>
            <p>This website is created by our GPM E-learn for easy access to study material</p>
            <a href="readmore" class="read-more">Read-More</a>
     </div>
    </section>
</div>


<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-learn</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href=""><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-learn</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>