<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1JiNIDYt2sNHWgK-29G0IYEX8kAnmQX2p"
                            width="100px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger.ejs">Messenger</a></li>
                        <li><a href="achievements.ejs">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                    </ul>
                </nav>
                <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY"
                    class="menu-icon" onclick="menutoggle()">
           </div>
        </div>
    </div>
    <!-- LOGIN -->
    <body>

        <div class="box">
          <span class="borderline">
      
          </span>
          <form method="post" action="/login">
            <h2>Login Now</h2>
            <div class="inputbox">
              <input type="text" name="email" required="required" value="<%=locals.email%>" autocomplete="off" />
              <span>Email Id</span>
      
              <i></i>
              
            </div>
      
            <div class="inputbox">
              <input type="password" name="password" required="required" value="<%=locals.password%>" />
              <span>Password</span>
              <i></i>
              <p class="error">
                <%= locals.message %>
              </p>
            </div>
            <div class="links">
      
              <a href="register">Register</a>
            </div>
            <button type="submit" value="login">Log In</button>
          </form>
      
        </div>
      
      </body>

    <!-- REGISTER -->

    <body>
  
        <div class="container">
        <label class="borderline"></label>
        <div class="image">
          <div class="formbox">
            <div class="form">
            <form method="post">
        
              <h2>Register Now</h2>
              <div class="inputbox">
        
              <input type="text" name="name" required="required" />
              <span>Username</span>
              <i></i>
            </div>
            <div class="inputbox">
        
              <input type="email" name="email" required="required" />
              <span>Email</span>
              <i></i>
            </div>
            <div class="inputbox">
              <input type="password" name="password" required="required" />
              <span>Password</span>
              <i></i>
            </div>
            <div class="group">
              <a href="login">Sign In</a>
            </div>
              <button type="submit">Sign Up</button>
            </div>
          </div>
        </div>
        </div>
            </form>
          </main>
        </body>
        
    <!-----------footer----------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Learn more from our website</h3>
                    <a href="index">
                        <p>Website : TopNotes</p>
                    </a>
                    <div class="website-logo">
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1JiNIDYt2sNHWgK-29G0IYEX8kAnmQX2p"></a>
                    <p>Best Website for students to learn the topics more clear with subject notes.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <a href="Contact">
                            <li>Contact</li>
                        </a>
                        <a href="About">
                            <li>About Us</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us on</h3>
                    <ul>
                        <a href="https://www.instagram.com/topnotes__/?next=%2F#">
                            <li>Instagram</li>
                        </a>

                        <a href="https://t.me/TopNotes2023">
                            <li>Telegram</li>
                        </a>
                        <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08">
                            <li>Twitter(X)</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2023 - Top Notes</p>

        </div>
    </div>
    <!------------js for toggle menu--------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px"

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
</body>

</html>