<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                    <li><a href="Courses">Courses</a></li>
                    <li><a href="messenger">Messenger</a></li>
                    <li><a href="achievements">Achievements</a></li> 
                    <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!--YEARS -->        
<a ><h2 class="title">All Courses</h2></a>
<div class="row">
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1UzsDgfoC9zWStKrUpm9klFhs8K97Dy0J/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt=""width="180px" height="180px">PROGRAMMING IN C++</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1THlEAWDSXM77lPMnn1JQUuq-eURj7eaJ/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1h6ENzwoEHiFZASWmkFVZ7u7LG7bqqyn6" alt="" width="180px" height="180px">DATA ANALYTICS USING R</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1Dj1yVPJtNa-Xcr-tukw3I0DsfupybILs/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1Iam5WBQjaVJqlsyzK-GloTd8nHWCMQZ5" alt="" width="180px" height="180px">COMPUTER NETWORK</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/12ptO3Yb24zdBascXGRtOSB0CLZJSUH_g/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=104-51lGZdLHH8zxqF9-c7UauiKj9NkVv" alt="" width="180px" height="180px">FUNCTIONAL PROGRAMMING IN PYTHON</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1k63oJldZvNONiJGnmXoIwNflom8CAq1f/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ijiLKa1rRx171N1c0Y_6wDkj6rs3PVdT" alt="" width="180px" height="180px">OPERATING SYSTEM</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1uFfsOwyNtgqvEhcHo_6T4GRoi9A7iB_h/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1NZJGK61EjVnHsffXdk6n3old1cLtFtL0" alt=""width="180px" height="180px">COMPUTER SECURITY</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1ex_UXwSnG71tTkauHmyYVnfKAjqu5XNe/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1dsStFj_ijp-xniTE7nE6BfT-bwKfZIKM" alt="" width="180px" height="180px">DATABASE MANAGEMENT SYSTEM</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1ljSDRpJR5FcTb30A7HUp9GuKMHskyryg/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=18avBMhBCGjYneaBui0ts6ZhCA7hZTmxi" alt="" width="180px" height="180px">BASICS MATHEMATICS</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1OtSXWwINejKubbmlAbcuqONquek82ppU/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1SnWosXX3XXqq4wtkYQH9h7AOTj35UiCU" alt="" width="180px" height="180px">BASICS OF ELECTRICAL AND ELECTRONIC ENGINEERING</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1XPjNG6dY3bD7uhfYbsB1YmQTIUCfHoH7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt="" width="180px" height="180px">LOGIC DEVELOPMENT USING PROGRAMING IN C</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1_yU454lEMXmGGa6vDT08QYt-VrJ-q7nx/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1WlpL_pCnbUZKDJRptBRRSrgKGcF-da5n" alt="" width="180px" height="180px">NEXT GENERATION DATABASE</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1OHm6koOcZaaN-bsaAt9zJ2zfolb_79j6/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1B5MP9HK7CfFunvWFALdEcl-E7KDgbZCD" alt="" width="180px" height="180px">ADVANCED PROGRAMMING IN JAVA</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/15FzPNiR9f323YfkY8WEgubXw8APF2FGl/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1UMqCy_k4qEIpfV-LFRcIhOlpQCaz3abQ" alt="" width="180px" height="180px">ENGINEERING MATHEMATICS</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1BUjAh6TI7GHRPFZITYbfJ3KCbwWJgpIn/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1wLQi9DrJpwg2xyLM6fDW0T4aY66aFY36" alt="" width="180px" height="180px">MULTIMEDIA AND VIDEO CREATION</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1K9232xcweKu-GRZpdydA9E9xjgZaSuaz" alt="" width="180px" height="180px">SOFTWARE ENGINEERING</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1mH2FHiPMt9f8pYoKYzANgwmnZ3qcb374" alt="" width="180px" height="180px">APPLIED PHYSICS</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1FjzbrGI0MRAxG20rBZgypACNCQ0w_ZAC/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1VPZtVVJvZ4WibYa6lfJzO12QQa4Xc21W" alt="" width="180px" height="180px">JAVA</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1XrKUFUr0sexwSm1esfgDQmiESpGV3mJP" alt="" width="180px" height="180px">ENVIRONMENTAL STUDIES</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1Srwsx1Kti5c4I22TzjQG4ce858uS_Fsh/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1jSEl2KuT37vA172yeuybggYEtf-cM69u" alt="" width="180px" height="180px">COMMUNICATION SKILLS</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1hK0cdEhWOYVTtfxaWyrcYGAVMvjGHYtd/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1WINwUxZ7g2dc2_RlKlpz4q7l_koNfhy2" alt="" width="180px" height="180px">MOBILE APPLICATION DEVELOPMENT</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1VYYYeN33PVt2c86KndzzLclFtnXrlyWP/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1wj7Yi-1kCtswCHPIiJ3CGw9aor8O6k7h" alt="" width="180px" height="180px">WEB PAGE DESIGN</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1bmbkwlc8SiuONpUi3E5dMR_Qe0rtEkXm/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1LDz3l9h3tCtXJqTcjXMsEBoAhZMDJSTa" alt="" width="180px" height="180px">SOFTWARE TESTING</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1B1BAV2JZVSj0MeHeokRIJ7IGCK9DzdkA/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1a9-yI8twrVhxGu_N0uxC3vYOauDfrDbO" alt="" width="180px" height="180px">MICROPROCESSOR</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1PUnNa7gShMLJ5RQMRRfnToCYq9mxGa6k" alt="" width="180px" height="180px">ADVANCED WEB DEVELOPMENT</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1oJMejZzIsYshPpS3VWaQWKzRpLH0oU4G/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1fFdT9eSWGcQtrnqj8oSShGLdP01XN_aN" alt="" width="180px" height="180px">DATA STRUCTURES</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1OxiQbas5_JELrvMdV87PzRAKJgz1MAP7/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1J59-qUwz22TgRLrmbG3liV4LVp-OYEsU" alt="" width="180px" height="180px">DIGITAL TECHNIQUES</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1pCT6fxRJ0T2COIX9_lNSif_ibV2xJbW0" alt="" width="180px" height="180px">NETWORK MANAGEMENT AND ADMINISTRATION</a>
    </div>
    <div class="col-4">
        <a href="Files/"><img src="https://drive.google.com/uc?export=view&id=1rFYsl7tunVzVQz_kHbQpb36GzMO9Uwad" alt="" width="180px" height="180px">ENTREPRENEURSHIP AND STARTUPS</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1Qu9YrF46cGcedgKc1DlR6me_wNUgtFIE/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1B_zCt_xiaKaBOezlGTa6PKRcvfHIEDAg" alt="" width="180px" height="180px">COMPUTER HARDWARE AND MAINTENANCE</a>
    </div>
</div>
<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-learn</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="about-us"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-learn </p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>