<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="60px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                    <li><a href="Courses">Courses</a></li>
                    <li><a href="messenger.">Messenger</a></li>
                    <li><a href="achievements.">Achievements</a></li> 
                    <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Notes for Students</h1>
                <p>Notes for students for better learning and doubt solving</p>
                <a href="Courses" class="btn">Explore Now &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!--YEARS -->        
<h2 class="title">All P19 Curriculum</h2>
<div class="row">
    <div class="col-4">
        <a href="https://drive.google.com/file/d/163C8Ff87DwCXv-sxA2LeFsiEVwhJjn-x/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1dd4JamhpSZKhqZyZ63nM4AOv9Qz6l5Cx" alt="" width="203.8" height="292.68">SEMESTER 1</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/144CtYNs5S4vwDhj2XhYCO_C4JMUgBC1w/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1ZVjnZpvzO3KYVq3M9PkpugYDburitob2" alt="" width="203.8" height="292.68">SEMESTER 2</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1-CLqChvdxR6JpzeXIRKn3PydpPyXPtFK/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1AwDpJHM2xF_YwFfTdDQ6Uf_cf3keu2OZ" alt="" width="203.8" height="292.68">SEMESTER 3</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1YvMFHrvc23RvLfGBoi8IXMPFdtQ9Bc-a/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=14jGcfxrQaOT3rGOl1vfxml8p9JqkFQnm" alt="" width="203.8" height="292.68">SEMESTER 4</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1owYcD26f_nL4nVkxva-BGweZ5M6XVSyB/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1vC3bia5DsMQUoXlJ9Pw0b9b8eifY1Gt7" alt="" width="203.8" height="292.68">SEMESTER 5</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1HOKd2aMKx1cYNZuwt7moNe5-QV-r4uGf/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1gHYO4qrVRZbTLo2yZlhgAaYqJryujVJI" alt="" width="203.8" height="292.68">SEMESTER 6</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1HOKd2aMKx1cYNZuwt7moNe5-QV-r4uGf/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1bETCB6h1UjlRLLOIdzGSyMaTgjgfuDh4" alt="" width="203.8" height="292.68">BLACK BOOK</a>
    </div>
    <div class="col-4">
        <a href="https://drive.google.com/file/d/1HOKd2aMKx1cYNZuwt7moNe5-QV-r4uGf/view?usp=sharing"><img src="https://drive.google.com/uc?export=view&id=1Q7zHKN1T81RamVLz6SZSLCEfEyO9VInU" alt="" width="203.8" height="292.68">MAJOR PROJECT</a>
    </div>
</div>
<h2 class="title">Upcomming P23 Curriculum</h2>
<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-learn</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="About"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-learn</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>