<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"
                            width="100px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger">Messenger</a></li>
                        <li><a href="achievements">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                    </ul>
                </nav>
                <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY"
                    class="menu-icon" onclick="menutoggle()">
            </div>
            <section class="Home" id="Home">
                <div class="row">
                    <div class="col-2">
                        <h1>Notes for Students</h1>
                        <p>Notes for students for better learning and doubt solving</p>
                        <a href="Courses" class="btn">Explore Now &#8594;</a>
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="small-container">
        <a>
            <h2 class="title">Most Learned Courses</h2>
        </a>
        <div class="row">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1XPjNG6dY3bD7uhfYbsB1YmQTIUCfHoH7/view?usp=sharing"><img
                        src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt=""
                        width="180px" height="180px">C</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1UzsDgfoC9zWStKrUpm9klFhs8K97Dy0J/view?usp=sharing">
                    <img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt=""width="180px" height="180px">PROGRAMMING IN C++</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1FjzbrGI0MRAxG20rBZgypACNCQ0w_ZAC/view?usp=sharing"><img
                        src="https://drive.google.com/uc?export=view&id=1VPZtVVJvZ4WibYa6lfJzO12QQa4Xc21W" alt=""
                        width="180px" height="180px">JAVA</a>
            </div>
            <div class="col-4">
                <a href="https://drive.google.com/file/d/12ptO3Yb24zdBascXGRtOSB0CLZJSUH_g/view?usp=sharing"><img
                        src="https://drive.google.com/uc?export=view&id=104-51lGZdLHH8zxqF9-c7UauiKj9NkVv" alt=""
                        width="180px" height="180px">PYTHON</a>
            </div>
        </div>
        <!--YEARS -->
        <a>
            <h2 class="title">Year</h2>
        </a>
        <div class="row">
            <div class="col-4">
                <a href="Curriculum"><img
                        src="https://drive.google.com/uc?export=view&id=16SWfoXCbx_SIK8BFmmvr_ppgByUj6Z0N" width="180px"
                        height="180px"></a>
                <a href="Curriculum">
                    <h4>Curriculum</h4>
                </a>
                <a href="Curriculum">
                    <p>View More</p>
                </a>
            </div>
            <div class="col-4">
                <a href="1stYear"><img
                        src="https://drive.google.com/uc?export=view&id=1yn-oAgJWewgFi3gxw1MyxM-YBP8dSMpx" width="180px"
                        height="180px"></a>
                <a href="1stYear">
                    <h4>1st Year</h4>
                </a>
                <a href="1stYear">
                    <p>View More</p>
                </a>
            </div>
            <div class="col-4">
                <a href="2ndYear"><img
                        src="https://drive.google.com/uc?export=view&id=12lN-FflO26Hy4F7EeGm9QuLK3myGXw6Y" width="180px"
                        height="180px"></a>
                <a href="2ndYear">
                    <h4>2nd Year</h4>
                </a>
                <a href="2ndYear">
                    <p>View More</p>
                </a>
            </div>
            <div class="col-4">
                <a href="3rdYear"><img
                        src="https://drive.google.com/uc?export=view&id=1-BJQjYegy7JEqzPl7h8i4M6eeuXpXsFx" width="180px"
                        height="180px"></a>
                <a href="3rdYear">
                    <h4>3rd Year</h4>
                </a>
                <a href="3rdYear">
                    <p>View More</p>
                </a>
            </div>
        </div>
    </div>
    <!-- PREVIOUS YEAR'S QUESTION PAPER'S
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <a><img src="https://drive.google.com/file/d/1rqN8E_7CwxBoFVr7Y9WtQ7Ob-08BMwzP/view?usp=sharing"
                            class="offer-img"></a>
                </div>
                <div class="col-2">
                    <h1>QUESTION PAPER'S</h1>
                    <small>Click on the given below Button to get the previous year's question paper's</small>
                    <br>
                    <a href="https://chat.openai.com" class="btn">View Here&#8594;</a>
                </div>
            </div>
        </div>
    </div> -->
    <!------Chat GPT------->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <a><img src="https://drive.google.com/file/d/1rqN8E_7CwxBoFVr7Y9WtQ7Ob-08BMwzP/view?usp=sharing"
                            class="offer-img"></a>
                </div>
                <div class="col-2">
                    <p>Solve your doubts with Chat-GPT</p>
                    <h1>Chat-GPT</h1>
                    <small>Enter your questions on the below given link</small>
                    <br>
                    <a href="https://chat.openai.com" class="btn">Ask Here&#8594;</a>
                </div>
            </div>
        </div>
    </div>
    <!-----------footer----------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Learn more from our website</h3>
                    <a href="index">
                        <p>Website : GPM E-learn</p>
                    </a>
                    <div class="website-logo">
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                    <p>Best Website for students to learn the topics more clear with subject notes.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <a href="Contact">
                            <li>Contact</li>
                        </a>
                        <a href="About">
                            <li>About Us</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us on</h3>
                    <ul>
                        <a href="https://www.instagram.com/topnotes__/?next=%2F#">
                            <li>Instagram</li>
                        </a>

                        <a href="https://t.me/TopNotes2023">
                            <li>Telegram</li>
                        </a>
                        <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08">
                            <li>Twitter(X)</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2023 - GPM E-learn</p>

        </div>
    </div>
    <!------------js for toggle menu--------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px"

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
</body>

</html>