<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM Elearn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <style>
            .footer{
                flex-wrap: nowrap;
            }
        </style>
</head>

<body>

    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"
                            width="100px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index">Home</a></li>
                        <li><a href="Courses">Courses</a></li>
                        <li><a href="messenger">Messenger</a></li>
                        <li><a href="achievements">Achievements</a></li> 
                        <li><a href="logout" class="btn">Logout</a></li>
                    </ul>
                </nav>
                <img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"
                    class="menu-icon" onclick="menutoggle()">
            </div>
           <br>
           <br>
           <br>
    
    <head>
        
        <div class="col-2">
            <p>Explore new ideas and interest's of your Classmates</p>
            <h1>Discussion Forum</h1>
            <small>Discuss your ideas by clicking below </small>
            <br>
            <a href="http://localhost:3000" class="btn">Discuss Here&#8594;</a>
            </div>
            
        <!-- <section class="achievement">
            <div class="col-4">
                <a href="https://drive.google.com/file/d/1UzsDgfoC9zWStKrUpm9klFhs8K97Dy0J/view?usp=sharing">
                    <img src="https://drive.google.com/uc?export=view&id=14Rc5vpH1BRZ4zpRVWpFWaKDYByu-bxsT" alt=""width="180px" height="180px">PROGRAMMING IN C++</a>
            </div>
            <h2>Achievement Title 2</h2>
            <p>Description of the second achievement.</p>
        </section> -->
    </head>
    
    <!-----------footer----------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Learn more from our website</h3>
                    <a href="index">
                        <p>Website : TopNotes</p>
                    </a>
                    <div class="website-logo">
                    </div>
                </div>
                <div class="footer-col-2">
                    <a href="index"><img
                            src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                    <p>Best Website for students to learn the topics more clear with subject notes.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <a href="Contact">
                            <li>Contact</li>
                        </a>
                        <a href="About">
                            <li>About Us</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us on</h3>
                    <ul>
                        <a href="https://www.instagram.com/topnotes__/?next=%2F#">
                            <li>Instagram</li>
                        </a>

                        <a href="https://t.me/TopNotes2023">
                            <li>Telegram</li>
                        </a>
                        <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08">
                            <li>Twitter(X)</li>
                        </a>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="Copyright">Copyright 2023 - Top Notes</p>

        </div>
    </div>
    <!------------js for toggle menu--------->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px"

        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
</body>

</html>