<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPM E-learn | Educational Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15" width="100px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="index">Home</a></li>
                    <li><a href="Courses">Courses</a></li>
                    <li><a href="messenger">Messenger</a></li>
                    <li><a href="achievements">Achievements</a></li> 
                    <li><a href="logout" class="btn">Logout</a></li>
                </ul>
            </nav>
            <img src="https://drive.google.com/uc?export=view&id=1jpiUWn9wyuLMBKW1num-OZcVlgzOfpHY" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>
</div>

<!-- 123 -->

    <div class="heading">
        <h1>Read More</h1>GPM E-learn
        <p>Welcome to GPM E-learn !! We're here to provide high quality Notes for the students to make easy learning and easy acsess.</p>
        <p>Our mission is to make our acedamic journey eaiser by providing a platform where students can access comprehensive study material</p> 
        <br> 
        <p>This web application is created for everyone for the students of the computer department and to make available all the resources that are required</p>
<br>
<p>The pending resources will be updated as soon as possible</p>
        <h2>Members</h2>

        <br>
<p>
<!-----------testimonial----------->
 <div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <!-- <i class="fa fa-quote-left"></i> -->
                <!-- <p>Gives Eye protection. Environmental friendly. Recylable.</p> -->
                <img src="Images/USB light 1.jpeg">
                <h3>ADITYA WAGHULE</h3>
            </div>
            <div class="col-3">
                <!-- <i class="fa fa-quote-left"></i> -->
                <!-- <p>Gives Eye protection. Environmental friendly. Recylable.</p> -->
                <img src="Images/USB light 1.jpeg">
                <h3>PRADIP BILKULE</h3>
            </div>
            <div class="col-3">
                <!-- <i class="fa fa-quote-left"></i> -->
                <!-- <p>Gives Eye protection. Environmental friendly. Recylable.</p> -->
                <img src="Images/USB light 1.jpeg">
                <h3>KARTIK KUNJIR</h3>
            </div>
            <div class="col-3">
                <!-- <i class="fa fa-quote-left"></i> -->
                <!-- <p>Gives Eye protection. Environmental friendly. Recylable.</p> -->
                <img src="Images/USB light 1.jpeg">
                <h3>AYUSH KHATODE</h3>
            </div>
            <div class="col-3">
                <!-- <i class="fa fa-quote-left"></i> -->
                <!-- <p>Gives Eye protection. Environmental friendly. Recylable.</p> -->
                <img src="Images/USB light 1.jpeg">
                <h3>DAKSH PARMAR</h3>
            </div>
        </div>
    </div>
 </div>
    <!-- 1. FS21CO028 - Daksh Parmar <br>
    2. FS21CO034 - Ayush Khatode <br>
    3. FE21CO046 - Kartik Kunjir <br>
    4. FS21CO049 - Aditya Waghule <br>
    5. FS21CO047 - Pradip Bilkule <br> -->

</p> 
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
               
                <!-- <img src="Images/logo.jpeg" alt=""> -->
     </div>
        <div class="about-content">
            
     </div>
    </section>
</div>

<!-----------footer----------->
    
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Learn more from our website</h3>
                <a href="index"><p>Website : GPM E-learn</p></a>
                <div class="website-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <a href="index"><img src="https://drive.google.com/uc?export=view&id=1vCvYtbAoY840Dn5xKi51lBnRqVXvEL15"></a>
                <p>Best Website for students to learn the topics more clear with subject notes.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful links</h3>
                <ul>
                    <a href="contact"><li>Contact</li></a>
                    <a href="About"><li>About Us</li></a>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow us on</h3>
                <ul>
                    <a href="https://www.instagram.com/topnotes__/?next=%2F#"> <li>Instagram</li></a>
                    
                    <a href="https://t.me/TopNotes2023"><li>Telegram</li></a>
                    <a href="https://x.com/TopNotes_?t=Dfa_k2qqXdspl9cK1pocow&s=08"><li>Twitter(X)</li></a>
                </ul>
            </div>
        </div>
        <hr>
        <p class="Copyright">Copyright 2023 - GPM E-learn</p>

    </div>
</div>

<!------------js for toggle menu--------->
<script>
    var MenuItems= document.getElementById("MenuItems");

    MenuItems.style.maxHeight ="0px"
    
    function menutoggle(){
        if( MenuItems.style.maxHeight == "0px")
        {
            MenuItems.style.maxHeight ="200px"
        }
        else
        {
            MenuItems.style.maxHeight ="0px"
        }
    }
</script>
</body>
</html>