<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="regstyle.css">
  <title>register</title>
</head>

<body>
  
<div class="container">
<label class="borderline"></label>
<div class="image">
  <div class="formbox">
    <div class="form">
    <form method="post">

      <h2>Student Registration</h2>
      <div class="inputbox">

      <input type="text" name="name" required="required" />
      <span>Username</span>
      <i></i>
    </div>
    <div class="inputbox">

      <input type="email" name="email" required="required" />
      <span>Email</span>
      <i></i>
    </div>
    <div class="inputbox">
      <input type="password" name="password" required="required" />
      <span>Password</span>
      <i></i>
    </div>
    <div class="group">
      <a href="login">Student Sign up</a>
    </div>
      <button type="submit">Sign Up</button>
    </div>
  </div>
</div>
</div>
    </form>
  </main>
</body>

</html>